// 公共样式存放处
$base-width: 980px;
.page-enter-active,
.page-leave-active {
    transition: opacity 0.15s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}
// * {
//     font-family: 'Microsoft JhengHei';
// }
.ivu-icon {
    font-family: Ionicons;
}

// 公共body页的top头部
.top {
    margin: 24px 16px;
}

// 富文本编辑器代码块
.editor-contener {
    text-align: left;
}
.ql-container {
    font-size: 14px;
}
.ql-snow .ql-tooltip {
    z-index: 30;
}
#ql-editor h1 {
    font-weight: 500;
}
#ql-editor h2 {
    font-weight: 500;
}
#ql-editor h3 {
    font-weight: 500;
}
#ql-editor pre {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace, monospace;
    font-size: 14px;
    span {
        font-family: Menlo, Monaco, Consolas, Courier New, monospace, monospace;
    }
}
body {
    max-width: 1260px;
    min-width: 383px;
    margin: 0 auto !important;
}
html {
    background: #f4f5f5;
}

::-webkit-scrollbar-track-piece {
    //滚动条凹槽的颜色，还可以设置边框属性
    background-color: #f8f8f8;
}
::-webkit-scrollbar {
    //滚动条的宽度
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    //滚动条的设置
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
    
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}
